$color-primary: #828282;
$color-secondary: #FBA06E;
$color-orange:#EF9B4E;
$color-yellow:#FFD65B;
$color-brown:#B26033;
$color-gray-1: #BDBDBD;
$color-gray-2: #F2F2F2;
$color-error: #d72c1d;

$color-green-light:#88CC8F;
$color-green-dark:#528B59;

$color-white: #FFFFFF;
$color-black: #000000;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$mobileS: 320px; // ~320
$mobileM: 375px; // 321~375
$mobileL: 414px; // 376~414
$mobile: 767px; // <768px
$pad: 1023px; // ≥768px
$desktop: 1280px; // ≥1024px