$color-primary: #828282;
$color-secondary: #FBA06E;
$color-error: #d72c1d;

$color-gray-1: #BDBDBD;
$color-gray-2: #F2F2F2;
$color-gray-3: #E0E0E0;

$color-green-light:#88CC8F;
$color-green-dark:#528B59;

$color-orange-light:#EF9B4E;

$color-yellow-light:#FFD65B;
$color-yellow-dark:#FFC107;

$color-blue-dark: #92A5D4;

$color-brown-light-1:#D08A63;
$color-brown-light-2:#B26033;
$color-brown-dark: #8A4E2D;

$color-white: #FFFFFF;
$color-black: #000000;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

$mobileS: 320px; // ~320
$mobileM: 375px; // 321~375
$mobileL: 414px; // 376~414
$mobile: 767px; // <768px
$pad: 1023px; // ≥768px
$desktop: 1280px; // ≥1024px