@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

html {
  font-family: Noto Sans TC,黑體-繁,Apple LiGothic Medium,PingFang,微軟正黑體,Microsoft JhengHei,WenQuanYi Zen Hei,helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: $light;
  color: $color-primary;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.main {
  background-color: #EAEAEA;
  padding: 0 12px;

  @include pad {
    height: 100%;
  }

  &__container {
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
  }
}
