.auth {
  padding: 0 12px;

  &__container {
    width: 380px;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 80px;

    @include mobile {
    padding-top: 35px;
  }
  }
  
  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__logo {
      width: 280px;
  
      @include mobile {
        width: 180px;
      }
    }
  
    &__form {
      width: 100%;
      margin-top: 50px;
  
      @include mobile {
        margin-top: 40px;
      }
      
      display: flex;
      flex-direction: column;
  
      &-title {
        font-size: 24px;
        font-weight: $regular;
        margin-bottom: 20px;
  
        @include mobile {
          font-size: 20px;
        }
      }
  
      &-entered {
        margin-bottom: 20px;
  
        label {
          font-size: 14px;
        }
      }
  
      &-errorMsg {
        text-align: center;
      }
  
      &-btn {
        @include baseBtn ($height: 44px);
        width: 100%;
        margin-top: 20px;
      }
  
      &-direct {
        text-align: center;
        margin-top: 20px;
  
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
