.auth {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;

  display: flex;
  justify-content: center;
}

.container {
  width: 380px;
  max-width: 100%;
}

.user {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 50px;

    h1 {
      font-size: 38px;
      font-weight: $medium;
      margin-bottom: 8px;
    }

    span {
      font-size: 18px;
      font-family: 'Paytone One', sans-serif;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 24px;
      font-weight: $regular;
      margin-bottom: 20px;
    }

    &-entered {
      margin-bottom: 20px;

      label {
        font-size: 14px;
      }
    }
  }
}