.search-results {
  padding: 0 12px;
  background-color: $color-gray-5;

  &__container {
    width: 1295px;
    max-width: 100%;
    margin: 0 auto;
    height: calc(100vh - 88px);
    padding: 40px 0 50px;

    @include pad {
      height: calc(100vh - 64px);
    }
  }

  .search {
    width: 636px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    &--select {
      @include baseSelect($width:196px, $boderColor:$color-gray-3);

      @include mobile {
        @include baseSelect($width:100%, $boderColor:$color-gray-3);
        margin-bottom: 17px;
      }
    }

    &--search {
      @include baseSearch($width:416px, $boderColor:$color-gray-3);

      @include mobile {
        @include baseSearch($width:100%, $boderColor:$color-gray-3);
      }
    }
  }

  .not-results {
    font-size: 18px;
    text-align: center;
    margin-top: 80px;

    @include mobile {
      margin-top: 50px;
    }
  }

  .results {
    width: 1076px;
    max-width: 100%;
    margin: 0 auto;

    &__header {
      margin: 40px 0 16px;
      display: flex;
      align-items: center;

      @include mobile {
        margin: 24px 0 16px;
      }

      &--text {
        font-weight: $regular;
        color: $color-gray-4;
      }

      &--btn {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

        @include mobile {
          display: none;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    &__list {
      width: 460px;
      max-width: 100%;
      min-height: 868px;
      margin-right: 24px;

      @include pad {
        width: 100%;
        margin-right: 0;
      }
    }
    
    &__item {
      background-color: $color-white;
      border-radius: 8px;
      border: 1px solid $color-gray-3;
      padding: 20px 24px;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      &--header {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-name {
          font-size: 20px;
          font-weight: $bold;
          color: $color-gray-4;
        }

        &-marks {
          display: flex;

        }

        &-customMark {
          font-size: 12px;
          font-weight: $bold;
          width: 40px;
          height: 22px;
          line-height: 22px;
          color: $color-white;
          background-color: $color-secondary;
          border-radius: 2px;
          text-align: center;
          margin-right: 14px;
        }
  
        &-bookmark {
          cursor: pointer;

          img {
            width: 16.5px;
            display: block;
          }
        }
      }

      &--kcal {
        margin-bottom: 5px;
        font-weight: $regular;
        display: flex;
        align-items: flex-end;
  
        &-main {
          font-size: 14px;
          color: $color-brown-light-1;

          span {
            font-size: 20px;
            font-weight: $bold;
          } 
        }

        &-sub {
          font-size: 12px;

          span {
            margin: 0 4px;
          }
        }
      }

      &--intakes {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;

        @include mobile {
          justify-content: space-between;
        }
      }

      &--intakeItem {
        font-size: 12px;
        font-weight: $regular;
        white-space: nowrap;

        &:not(:last-child) {
          margin-right: 15px;

          @include mobile {
            margin-right: 0;
          }
        }

        span {
          margin-left: 4px;
        }
      }

      &--select {
        border: 2px solid $color-brown-light-1;
      }
    }

    &__food {
      width: 592px;
      max-width: 100%;
      background-color: $color-white;
      border-radius: 8px;
      border: 1px solid $color-gray-3;
      padding: 56px 20px 36px;

      @include pad {
        display: none;
      }

      &--content {
        max-width: 548px;
        margin: 0 auto;
      }
    }

    &__pagination {
      margin-top: 30px;
      width: 460px;
      min-width: 250px;
      max-width: 100%;
      display: flex;
      justify-content: center;
      

      @include pad {
        width: 100%;
      }

      &--container {
        max-width: 160px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        position: relative;
      }

      &--arrow {
        cursor: pointer;
        position: absolute;

        &-left {
          left: 0;
          top: 0;
        }

        &-right {
          top: 0;
          right: 0;
        }

        i {
          font-size: 12px;
        }
      }
  
      &--list {
        max-width: 120px;
        display: flex;
        justify-content: space-between;
  
        li {
          font-weight: $regular;
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-radius: 50px;
          text-align: center;
          cursor: pointer;
        }
      }

      &--selectItem {
        color: $color-white;
        background-color: $color-secondary;
      }
    }
  }
}
