.userWall {
  &__wrap {
    &:first-child {
      margin-bottom: 24px;
    }

    display: flex;
    justify-content: space-between;

    @include pad {
      flex-direction: column;
    }
  }
}

.calendar {
  font-family: 'Monda', sans-serif;
  font-weight: $regular;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__date {
    font-size: 28px;
    color: $color-brown-dark;
    margin-bottom: 32px;
  }

  &__weekly {
    display: flex;
    align-items: center;

    &-item {
      @include baseCard(16px 15px);
      width: 68px;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      align-items: center;

      &--week {
        color: $color-gray-1;
      }

      &--date {
        font-size: 24px;
        color: $color-primary;
      }

      &:not(:last-of-type) {
        margin-right: 28px;
      }

      &:hover {
        background-color: $color-gray-1;

        .calendar__weekly-item--week {
          color: $color-gray-2;
        }

        .calendar__weekly-item--date {
          color: $color-white;
        }
      }
    }

    &-arrow {
      cursor: pointer;

      &--left {
        margin-right: 38px;
      }
  
      &--right {
        margin-left: 38px;
      }
    }

  }

  .selectedDat {
    background-color: $color-gray-1;

    .calendar__weekly-item--week {
      color: $color-gray-2;
    }

    .calendar__weekly-item--date {
      color: $color-white;
    }
  }

  .todayDate {
    background-color: #FFD9C3 !important; 

    .calendar__weekly-item--week {
      color: $color-brown-light-1 !important;
    }

    .calendar__weekly-item--date {
      color: $color-brown-light-2 !important;
    }
  }
}

.amount {
  width: 525px;
  height: 400px;
  margin-right: 24px;

  @include pad {
    width: 100%;
    height: 378px;
    margin-right: 0;
    margin-bottom: 16px;
  }
  
  &__title {
    @include baseTitle;
    margin-bottom: 30px;
  }
}

.nutrition {
  width: 745px;
  height: 400px;

  @include pad {
    width: 100%;
    height: 742px;
  }

  &__wrap {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__title {
    @include baseTitle;
  }

  &__btn {
    i {
      font-size: 12px;
      margin-right: 6px;
    }
  } 
}