.theHeader {
  padding: 0 20px;

  &__container {
    width: 1215px;
    max-width: 100%;
    margin: 0 auto;
    height: 88px;

    display: flex;
    align-items: center;
  }

  &__logo {
    width: 125px;
  }
}