.lightBox {
  font-weight: $regular;
  max-width: 520px;
  width: 100%;
  background-color: $color-white;
  border-radius: 8px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  overflow: hidden;

  @include mobile {
    width: calc(100% - 24px);
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;

    @include mobile {
      right: 15px;
      top: 15px;
    }

    i {
      font-size: 18px;
      color: $color-primary;
    }
  }

  &__content {
    padding: 24px 32px;
    max-height: calc(100vh - 160px);
    overflow: auto;

    @include mobile {
      max-height: calc(100vh - 130px);
    }
  }
}