.lightBox {
  font-weight: $regular;
  max-width: 450px;
  width: 100%;
  background-color: $color-white;
  border-radius: 8px;
  padding: 24px 32px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  overflow: hidden;

  @include mobile {
    width: calc(100% - 24px);
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 22px;

    i {
      font-size: 18px;
      color: $color-primary;
    }
  }
}